In [19]:
import pandas as pd

In [20]:
df= pd.read_csv("1) iris.csv")

In [21]:
df.info()
df.isnull().sum()
df.duplicated().sum()
df =df.drop_duplicates()
df.to_csv("iris_cleaned.csv",index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB